<ul class="list-unstyled">
  <li><strong>{{ site.data.cv.profile.contact.phone }}</strong></li>

  <li>
    <a href="mailto:{{ site.data.cv.profile.contact.email }}">{{ site.data.cv.profile.contact.email }}</a></li>

    <li>Twitter: <a href="https://twitter.com/{{ site.data.cv.profile.social.twitter }}">@{{ site.data.cv.profile.social.twitter }}</a></li>

    <li>GitHub: <a href="https://github.com/{{site.data.cv.profile.social.github}}">@{{ site.data.cv.profile.social.github }}</a></li>

    <li>LinkedIn: <a href="https://linkedin.com/in/{{site.data.cv.profile.social.linkedin}}">{{ site.data.cv.profile.social.linkedin }}</a></li>
  </ul>