<div class="mt-5">
  <h2>Experience</h2>
  {% assign sortedRoles = site.roles | reverse %}
  {% for role in sortedRoles %}
    <h3>{{ role.role }} <small class="text-muted">at {{ role.organisation }}</small></h3>
    <p>{{ role.location }}</p>

    {{ role.start_date | date: "%B %Y" }} to
    {% if role.end_date %} 
      {{ role.end_date | date: "%B %Y" }}
    {% else %}
      PRESENT
    {% endif %}

    {{ role.content | markdownify }}

    <div class="ml-4">
      
      {% assign sortedProjects = site.projects | where: "role_key", role.key | reverse %}
      
      {% if sortedProjects.size > 0 %}
        <h4>Projects</h4>
        {% for project in sortedProjects %}
          {% include project.html project=project %}
        {% endfor %}
      {% endif %}
    </div>

    <div>
      <ul class="list-inline text-right">
        {% for skill in role.skills %}
          <li class="list-inline-item">
            <span class="badge bg-primary">{{ skill }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
