<h2>Skills</h2>

<div>
{% for skills_group in site.data.cv.profile.skills %}
  <ul class="list-inline">
    {% for skill in skills_group.skills %}
      <li class="list-inline-item">
        <span class="badge bg-primary">{{ skill }}</span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

{% assign all_role_skills = site.roles | map: "skills" | compact %}
{% assign all_project_skills = site.projects | map: "skills" | compact %}

{% assign all_skill_groups = all_role_skills  %}

{% assign deduped_skills = {}  %}
{% for skill_hash in all_skill_groups %}

{% endfor %}

<hr/>
{% for skill_hash in all_skill_groups %}
  {{ skill_hash.first }}
  <ul class="list-inline">
    {% for skill in skill_hash[1] %}
    <li class="list-inline-item">
      <span class="badge bg-primary">{{ skill }}</span>
    </li>
    {% endfor %}
  </ul>
{% endfor %}
<hr/>
</div>