<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="docsearch:language" content="en">
  <meta name="docsearch:version" content="5.0">

  <title>{{ page.title | default: site.title }}</title>

  <!-- Bootstrap core CSS -->
  <style class="anchorjs"></style><link href="assets/bootstrap-5.0.0-alpha1-dist/css/bootstrap.min.css" rel="stylesheet">

<!--   <link rel="stylesheet" href="/docs/5.0/assets/css/docs.css"> -->
</head>

{{ content }}